<!doctype html>
<hmtl>
	<head>
		{% block head %}
		<title>Birthday Calculator | {% block head_title %}{% endblock %}</title>
		{% endblock %}
	<head>
	<body>
		<div id="content">
			{% block content %}
			<h1>Birthday Calculator</h1>
			<h2>{% block title %}{% endblock %}</h2>
			{% endblock %}			
		</div>
		<div id="footer">
		{% block footer %}
		{% endblock %}
		</div>
	</body>
</html>
