{% extends "layout.html" %}

{% block head_title%}List{% endblock %}
{% block title%}List{% endblock %}

{% block content %}
{{ super() }}
<table>
<tr>
	<th>Timestamp</th>
	<th>Name</th>
	<th>Date of Birth</th>
	<th>Days Alive</th>
</tr>

{% for r in results %}
<tr>
	<td>{{ r.timestamp }}</td>
	<td>{{ r.name }}</td>
	<td>{{ r.birthdate }}</td>
	<td>{{ r.days_alive() }}</td>
</tr>
{% endfor %}

</table>
{% endblock %}

{% block footer %}<hr />Footer{% endblock %}
