{% extends "layout.html" %}

{% block head_title%}Result{% endblock %}
{% block title%}Result{% endblock %}

{% block content %}
{{ super() }}

<p>{{ entry.name }} alive for {{ entry.days_alive() }} days</p>

<br />

<a href="{{ home_url}}">Home</a>
<br />
<a href="{{ list_url }}">View List</a>

{% endblock %}

{% block footer %}<hr />Footer{% endblock %}
